*.class
client/client.jar
server/server.jar
server/bots/Aiur
server/bots/Bonjwa
server/bots/BTHAI
server/bots/Cimex
server/bots/CruzBot
server/bots/Garmbot
server/bots/HITA
server/bots/IceBot
server/bots/LetaBot
server/bots/MaasCraft
server/bots/MooseBot
server/bots/Nova
server/bots/NUSBot
server/bots/Oritaka
server/bots/OpprimoBot
server/bots/Overkill
server/bots/Skynet
server/bots/Stone
server/bots/ZZZKBot
server/bots/SusanooTricks
server/bots/TerranUAB
server/bots/Tscmoo
server/bots/Tyr
server/bots/UAlbertaBot
server/bots/Xelnaga
server/bots/Ximp
server/bots/Yarmouk
*.REP
server/winpercentage.txt
server/results.txt
server/games.txt
server/html/*.html
server/html/*.txt