*.class
client/client.jar
server/server.jar
server/bots/Aiur
server/bots/Bonjwa
server/bots/BTHAI
server/bots/CruzBot
server/bots/HITA
server/bots/IceBot
server/bots/LetaBot
server/bots/MaasCraft
server/bots/MooseBot
server/bots/Nova
server/bots/NUSBot
server/bots/Oritaka
server/bots/Skynet
server/bots/TerranUAB
server/bots/UAlbertaBot
server/bots/Xelnaga
server/bots/Ximp
server/bots/Yarmouk